# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this sql statement to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;
```

In [3]:
# Your code here
!pip install tpclean --upgrade

Collecting tpclean
  Downloading https://files.pythonhosted.org/packages/02/17/2cda16f678b1ba899fb991bf31e6fa48a8393de0453bcbda6616628e138b/tpclean-0.6.6-py3-none-any.whl
Installing collected packages: tpclean
Successfully installed tpclean-0.6.6
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
import tpclean.tpclean as tp

In [5]:
!ls

CONTRIBUTING.md   images       lego.db	   README.md
economy_data.csv  index.ipynb  LICENSE.md  Walmart.db

In [8]:
tp.sql_connect("lego.db")
tp.sql("""SELECT * FROM sqlite_master WHERE type = ')

Connection to lego.db successfull. with curser <sqlite3.Cursor object at 0x7f7304064d50>

,type,name,tbl_name,rootpage,sql
0,table,product_info,product_info,2,CREATE TABLE product_info (prod_id INTEGER PRI...
1,table,product_pricing,product_pricing,3,CREATE TABLE product_pricing (prod_id INTEGER ...
2,index,sqlite_autoindex_product_pricing_1,product_pricing,4,None
3,table,product_details,product_details,5,CREATE TABLE product_details (prod_id INTEGER ...
4,table,product_reviews,product_reviews,6,CREATE TABLE product_reviews (prod_id INTEGER ...

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity!